

											/*     	*******************************
													BEGIN UNIVERSAL SITE STYLING
													*******************************
											*/

body {
	background-image: url(images/gray.jpg);
	font-family:Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
	Width: 90%;
}

h1 {
	margin: .5em;
}

p {
	margin: 1em;
}

.textbox {
	Background: #e7e7e7;
	font-size: 1em;
	padding: 1em;
	box-shadow: 5px 5px 5px #3a5252;
}
											
											/*     	*******************************
													END UNIVERSAL SITE STYLING
													*******************************
											*/
							
											/*     	*******************************
													BEGIN NAVIGATION STYLING
													*******************************
											*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	box-shadow: 5px 5px 5px #3a5252;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2em 1em;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

											/*     	*******************************
													END NAVIGATION STYLING
													*******************************
											*/
											
.logo {
	display: block;
	width:100%;
	height: auto;
	margin: 0 auto 1.5em;
}
											
.binary {
	display: block;
	width:100%;
	height: auto;
	margin: 1.5em auto;
}
																
.Project1:hover, .Project2:hover, .Project3:hover, .Project4:hover {
	filter: none;
	transition: .5s ease-in-out;
}

.Project1 {
	Background: #e7e7e7;
	font-size: 1em;
	padding: .5em;
	filter: blur(6px);
}

.Project2 {
	Background: #cfcfcf;
	font-size: 1em;
	padding: .5em;
	filter: blur(6px);
}

.Project3 {
	Background: #b8b8b8;
	font-size: 1em;
	padding: .5em;
	filter: blur(6px);
}

.Project4 {
	Background: #a1a1a1;
	font-size: 1em;
	padding: .5em;
	filter: blur(6px);
}

.family {
	
	width: 40%;
	height: auto;
}
