


body {
	background: url(http://solografix.com/images/gray.jpg);
	font-family:Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
	Width: 90%;
}

											/*     	*******************************
													BEGIN NAVIGATION STYLING
													*******************************
											*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2em 1em;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

											/*     	*******************************
													END NAVIGATION STYLING
													*******************************
											*/

.standard {
	margin: -.25em 1em;
}

 .Project:hover {
	filter: none;
	transition: .5s ease-in-out;
}

.Project {
	Background: #e7e7e7;
	font-size: 1em;
	padding: .5em;
	filter: blur(2px);
}

.soon {
	Background: #e7e7e7;
	font-size: 1em;
	padding: .5em;
	filter: blur(4px);
	
}

.textbox {
	Background: #e7e7e7;
	font-size: 1em;
	padding: .5em;
	filter: None;
	box-shadow: 5px 5px 5px #3a5252;
}
